/* 
    green:      #67b26f
    blue:       #4ca2cd
    mid color:  #5aaa9d
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: #444;
    font-family: 'Roboto' sans-serif;
    padding: 100px;
    background-image: linear-gradient(to right, #67b26f, #4ca2cd);
    height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.pizza {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;

    align-items: stretch;
}

.pizza__hero {
    flex: 0 1 45%;         /* flex-grown  flex-shrink  flex-basis */
}

.pizza__img {
    width: 100%;;
}

.pizza__content {
    flex: 1;
    background-color: #fff;
    padding: 30px 30px;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
}

.pizza__title {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.pizza__heading {
    font-size: 20px;
    flex: 1;
}

.pizza__tag {
    font-size: 8px;
    text-transform: uppercase;
    color: white;
    padding: 2px 6px;
    border-radius: 100px;
    margin-left: 8px;
}

.pizza__tag--1 { background-color: #67b26f; }
.pizza__tag--2 { background-color: #4ca2cd; }

.pizza__description {
    font-size: 13px;
}

.pizza__details {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
} 

.pizza__detail {
    font-size: 15px;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 700;
    display: flex;
    align-items: center;
} 

.pizza__detail i {
    font-size: 20px;
    margin-right: 3px;
    color: orange;
} 

.pizza__price {
    flex: 0 0 50px;
    background-color: rgb(7, 160, 160);
    writing-mode: vertical-rl;
    color: #fff;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}